*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --grey900: #48556A;
    --grey500: #6E8098;
    --grey400: #9DAEC2;
    --grey200: #ECF2F8;
}
body{
    background-color: var(--grey200);
    font-family: "Manrope", sans-serif;
    line-height: 140%;
    font-size: 13px;
}

main{
    width: 327px;
    margin: 24px auto 64px auto;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
}
.image-container{
    height: 200px;
    overflow: hidden;
}
.picture{
    width: 100%;
}
/* section{
    margin-bottom: 48px;
} */
.container{
    width: 267px;
    margin: 32px auto;
}
.horizontal{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.avatar{
    width: 40px;
    border-radius: 50%;
    margin-right: 16px;
}
.autor{
    display: flex;
    align-items: flex-end;
}
.autor-name{
    display: flex;
    flex-direction: column;
}
.grey{
    background-color: var(--grey900);
    height: 76px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
.grey-container{
    width: 267px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon-container{
    display: flex;
    align-items: center;
}
.share{
    margin-right: 24px;
}
.icone{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

/* font */

.text1 {
    text-align: left;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.25px;
    line-height: 130%;
    color: var(--grey900);
    width: 267px;
    margin-bottom: 24px;
}
.text2-Medium{
    font-weight: 500;
    letter-spacing: 0.12%;
    color: var(--grey500);
    margin-bottom: 48px;
}
.text2-Bold{
    font-weight: 700;
    letter-spacing: 0.12%;
    color: var(--grey900);
    font-size: 13px;
}
.text3{
    font-weight: 500;
    letter-spacing: 25%;
    color: var(--grey400);
}

/* composant */
button{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: none;
    text-align: center;
}
button:hover{
    cursor: pointer;
}
.hidden{
    display: none;
}

/* media view */
@media(min-width: 768px){
    body{
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    main{
        display: flex;
        width: 608px;
        height: 346px;
        align-content: center;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    .image-container{
        width: 229px;
        height: 346px;
        
    }
    .picture{
        height: 100%;
    }
    .grey{
        position: absolute;
    }
    .hidden{
        display: ;
    }
}