*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
:root{
    --grey900: #48556A;
    --grey500: #6E8098;
    --grey400: #9DAEC2;
    --grey200: #ECF2F8;
}
body{
    background-color: var(--grey200);
    font-family: "Manrope", sans-serif;
    line-height: 140%;
    font-size: 13px;
}

main{
    width: 327px;
    margin: 24px auto 64px auto;
    border-radius: 10px;
    background-color: #fff;
}
.image-container{
    height: 200px;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
}
.picture{
    width: 100%;
}
/* section{
    margin-bottom: 48px;
} */
.container{
    width: 267px;
    margin: 32px auto 0 auto;
}
.white{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.avatar{
    width: 40px;
    border-radius: 50%;
    margin-right: 16px;
}
.autor{
    display: flex;
    align-items: flex-end;
}
.autor-name{
    display: flex;
    flex-direction: column;
}
.horizontal{
    border-radius: 10px;
}
.white{
    height: 76px;
    margin: 0 32px;
}
.grey{
    background-color: var(--grey900);
    height: 76px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    border-radius: 0 0 10px 10px;
}
.grey-container{
    width: 267px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon-container{
    display: flex;
    align-items: center;
}
.share{
    margin-right: 24px;
}
.icone{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

/* font */

.text1 {
    text-align: left;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.25px;
    line-height: 130%;
    color: var(--grey900);
    width: 267px;
    margin-bottom: 24px;
}
.text2-Medium{
    font-weight: 500;
    letter-spacing: 0.12%;
    color: var(--grey500);
    margin-bottom: 24px;
}
.text2-Bold{
    font-weight: 700;
    letter-spacing: 0.12%;
    color: var(--grey900);
    font-size: 13px;
}
.text3{
    font-weight: 500;
    letter-spacing: 25%;
    color: var(--grey400);
}

/* composant */
button{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: none;
    text-align: center;
}
button:hover{
    cursor: pointer;
}
.grey-btn{
    background-color: var(--grey500);
}
.hidden{
    display: none;
}

/* media view */
@media(min-width: 768px){
    body{
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    main{
        display: flex;
        width: 608px;
        height: 346px;
        margin: 0;
    }
    .container,
    section, .text1, .horizontal, .white{
        width: 100%;
    }
    .container, .white{
        margin: 0;
    }
    .white{
        height: 100%;
    }
    .flex_container{
        width: 379px;
        height: 264px;
        padding: 45px 32px;
    }
    .image-container{
        width: 229px;
        height: 346px;
        flex: none;
        overflow: hidden;
        border-radius: 10px 0px 0 10px;
    }
    .picture{
        height: 100%;
        object-fit: cover;
    }
    .text2-Medium{
        margin-bottom: 24px;
    }
    
    
    .grey{
        position: absolute;
        top: -80px;
        right: -106px;
        width: 248px;
        height: 55px;
        border-radius: 10px;
        box-shadow: #6E8098;
    }
    .horizontal{
        position: relative;
        height: 55px;
    }
    .grey-container{
        justify-content: space-around
    }
    .grey-btn{
        display: none;
        position: relative;
    }
    .triangle {
    width: 0;
    height: 0;
    border: 12px solid ;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-top-color: var(--grey900);
    position: absolute;
    bottom: -22px;
    }
}
@media (min-width: 1024px) {
    main{
        width: 730px;
        height: 280px;
    }
    .image-container{
        width: 285px;
        height: 280px;
    }
    .flex_container{
        padding-top: 32px;
        width: 100%;

    }
}